<h1>Editing Education Credential</h1>

<%= render 'form', education_credential: @education_credential %>

<%= link_to 'Show', @education_credential %> |
<%= link_to 'Back', education_credentials_path %>
