<h3 class="text-center mb-4">Editing Employee</h3>

<%= render 'form', employee: @employee %>

<%= link_to 'Show', @admin_employee, class: "btn btn-info ml-5 rounded-0" %> |
<%= link_to 'Back', admin_employees_path, class: "btn btn-dark rounded-0" %>
