<h3 class="text-center mb-4">Editing Education Credential</h3>

<%= render 'form', education_credential: @education_credential %>

<%= link_to 'Show', admin_employee_path(@employee), class: "btn btn-info ml-5 rounded-0" %> 
