<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="ml-3 mb-4 text-center">Editing Education Credential</h4>
      <div class="card rounded-0 text-dark border-primary">
        <div class="card-body">
          <%= render 'form', education_credential: @education_credential %>
        </div>
      </div>
    </div>
  </div>
</div>


