<h4 class="text-center mt-2 mb-4">New Education Credential</h4>

<%= render 'form', education_credential: @education_credential %>

<%= link_to 'Back', admin_education_credentials_path, class: "btn btn-dark ml-5 rounded-0"  %>
