<h3 class="text-center">Editing Relative</h3>

<%= render 'form', relative: @relative %>

<%= link_to 'Show', @admin_relative, class: "btn btn-info ml-5" %> |
<%= link_to 'Back', admin_relatives_path, class: "btn btn-dark" %>
