<h3 class="text-center mb-3">Editing Trainee</h3>

<%= render 'form', trainee: @trainee %>

<%= link_to 'Show', @admin_trainee, class: "btn btn-info" %> |
<%= link_to 'Back', admin_trainees_path, class: "btn btn-dark" %>
