<h3 class="text-center text-info mb-4">Editing Document</h3>

<%= render 'form', document: @document %>

<%= link_to 'Show', @admin_document, class: "btn btn-info ml-5 rounded-0 mb-5" %> 
<%= link_to 'Back', admin_documents_path, class: "btn btn-dark rounded-0 mb-5" %>
