<h3 class="ml-3 mb-4">Editing Reference Person</h3>

<%= render 'form', reference_person: @reference_person %>

<%= link_to 'Show', admin_employee_path(@employee), class: "btn btn-info ml-5 rounded-0 mb-5" %>
