<h3 class="text-center text-info mb-4">Editing Reference Person</h3>

<%= render 'form', reference_person: @reference_person %>

<%= link_to 'Show', @admin_reference_person, class: "btn btn-info ml-5 rounded-0 mb-5" %>
