<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="ml-3 mb-4 text-center">Editing Reference Person</h4>
        <div class="card border-primary text-dark rounded-0">
          <div class="card-body">
            <%= render 'form', reference_person: @reference_person %>
          </div>
        </div>
    </div>
  </div>
</div>




