<h4 class="text-center text-info mt-2 mb-4">New Reference Person</h4>

<%= render 'form', reference_person: @reference_person %>
<%= link_to 'Back', admin_reference_people_path, class: "btn btn-dark ml-5 rounded-0 mb-5" %>

