<h3 class="text-center">Editing user</h3>

<%= render 'form', user: @user %>

<%= link_to 'Show', @admin_user, class: "btn btn-info ml-5" %> |
<%= link_to 'Back', admin_users_path, class: "btn btn-dark" %>
