<div class="container">
  <div class="row">
    <div class="col-md-12 col-12 col-sm-12">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-3 col-sm-6">
            <div class="card shadow rounded-0 mt-5 mb-5">
              <div class="card-body">
                <div class="text-center">
                  <%= image_tag "user-dummy.png", class: "rounded-circle", width: "150" %>
                  <h6 class="font-weight-bold mt-2 mb-3"><%= user.name %></h6>
                  <%= link_to "View Details", admin_user_path(user), class: "btn btn-primary rounded-0" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
