<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow rounded-0 mt-5 mb-5">
        <div class="card-body">
          <h5 class="font-weight-bold text-center">User Profile</h5>
          <div class="text-center">
            <small><strong>Email:</strong> <%= @user.email %></small><br>
            <small><strong>Role:</strong><%= @user.role %></small><br>
            <%#= image_tag "user-dummy.png", class: "img-fluid rounded-circle", width: "120" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
.table-bordered td {
  font-size: 12px;
}
</style>
