<h3 class="text-center">Editing Daily Status</h3>

<%= render 'form', daily_status: @daily_status %>

<%= link_to 'Show', @daily_status, class: "btn btn-info ml-5" %> |
<%= link_to 'Back', daily_statuses_path, class: "btn btn-dark" %>
